* {
    margin: 0;
}

header {
    background: rgba(209, 184, 184, 0.4);
    position: absolute;
    width: 100%;
}

.burger {
    margin-left: 3vw;
}

.wrapper {
    display: flex;
    /*max-width: 1248px;*/
    width: 90.044vw;
    padding: 0.293vw 1.181vw 0.339vw 1.171vw;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    list-style-type: none;
    width: 62.152vw;
    font-size: 1.391vw;
    margin-left: -1vw;
}

li{
    margin: 1vw;
}

.text-header {
    text-decoration: none;
}

.logo {
    margin-left: 0.5vw;
}

.burger {
    margin-left: 3vw;
}

#search {
    display: none;

}

.lupa {
    margin-left: -5vw;
}

.img {
    margin-left: 9.5vw;
}

.background {
    width: 100%;
}

.big-logo {
    display: flex;
    position: absolute;
    margin-top: 9.931vw;
    margin-left: 3.953vw;
    width: 22.914vw;
    height: 28.014vw;
    flex-shrink: 0;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section-title {
    margin: 5.127vw 0 2.928vw;
    font-size: 2.416vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 89.019vw;
    margin: 0 auto;
}

.card-item {
    display: flex;
    width: 21.255vw;
    height: 27.526vw;
    flex-shrink: 0;
    box-shadow: 0px 0px 1.464vw 0px rgba(0, 0, 0, 0.20);
    border-radius: 0.732vw 0.732vw 0px 0px;
    background: #FFF;
    margin-bottom: 2.928vw;
    border-bottom: 1px solid #FEC22E;
    flex-direction: column;
}

.img-card {
    width: 21.255vw;
    height: 16.782vw;
    flex-shrink: 0;
}

.news-text-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.news-item-text {
    display: flex;
    text-align: center;
    margin-top: 2.032vw;
    margin-bottom: 0.732vw;
    font-size: 1.318vw;
    width: 18.59vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.196vw; /* 166.667% */
}

.news-item-date {
    display: flex;
    font-size: 1.171vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.news-bottom {
    margin: 2.928vw 0 4.319vw;
    font-size: 1.464vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    color: #000;
}

.section-orange {
    background: #FEC22E;
    flex-shrink: 0;
}

.section-photo-title {
    font-size: 2.416vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 4.466vw 0 2.343vw;
}

.wrapper-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.photo-bydni {
    border-radius: 0.732vw;
    width: 30.307vw;
    height: 18.302vw;
    flex-shrink: 0;
    margin: 0 0 1.537vw;
}

.photo-text-bottom {
    font-size: 1.464vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1.684vw 0 6.223vw;
}

.contact-form {
    display: flex;
    margin: 6.735vw 9.151vw 7.101vw 5.485vw;
}

.contact-photo {
    display: flex;
    width: 38.141vw;
    height: 48.097vw;
    flex-shrink: 0;
}

.contact-form-text {
    border: 0;
}

footer{
    width: 100%;
    height: 11.713vw;
    flex-shrink: 0;
    background: #BA3133;
    margin-top: -0.732vw;
    display: flex;
    align-items: center;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 3.294vw;
}

.text-footer {
    display: flex;
    align-items: center;
    color: #ffffff;
    line-height: 1.432vw;
    font-size: 0.878vw;
}

.text-footer.text-footer_left {
    width: 30.161vw;
    margin-right: 7.613vw;
    line-height: normal;
}