* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*HEADER*/
header {
    background: rgba(209, 184, 184, 0.4);
    position: absolute;
    width: 100%;
    height: 6.589vw;
}

.burger {
    margin-left: 3vw;
}

.wrapper {
    display: flex;
    /*max-width: 1248px;*/
    width: 90.044vw;
    padding: 0.293vw 1.181vw 0.339vw 1.171vw;
}

ul {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    list-style-type: none;
    font-size: 1.391vw;
    margin: 1.245vw 0 0 1.377vw;
    width: 68.748vw;
    height: 3.707vw;
    flex-shrink: 0;
}

li{
    margin: 1vw;
}

.text-header {
    text-decoration: none;
    color: #000;
}

.logo {
    width: 4.758vw;
    height: 5.857vw;
    flex-shrink: 0;
}

.burger {
    margin: 2.505vw 0 0 1.977vw;
    width: 2.203vw;
    height: 1.258vw;
    flex-shrink: 0;
}

#search {
    display: none;

}


.lupa {
    margin: 2.16vw 0 0 -5.5vw;
}


.img {
    margin-left: 7.607vw;
    width: 9.297vw;
    height: 6.735vw;
    flex-shrink: 0;
}

/*SLIDER*/

.slider {
    display: flex;
    align-items: center;
    /* margin-left: 3.95vw; */
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 43.8vw;
    flex-direction: row;
    justify-content: space-around;
}

.main-wrapper {
    display: flex;
    height: 28.014vw;
    width: 89.531vw;
    margin: 3.05vw 0 0 0;

}

.big-logo {
    /*width: 23.5%;*/
    width: 22.914vw;
    height: 28.014vw;
    flex-shrink: 0;
    margin-left: 2%;
}

.text-main-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    justify-content: center;
}

.arrow-right{
    margin-left: 2vw;
    width: 1.719vw;
    height: 2.604vw;
}
.arrow-left{
    width: 1.719vw;
    height: 2.604vw;
    margin: 1.171vw;
}

.main-title {
    color: #FFF;
    font-size: 29px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 43.5px */
    margin-bottom: 1.171vw;
}

.main-info {
    color: #FFF;
    font-size: 1.464vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1.245vw;
    /*
    color: #ffffff;
    font-size: 1.042vw;
    font-weight: 500;
    line-height: 1.354vw;
    letter-spacing: 0em;
    text-align: left;*/
}



section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*NEWS*/  

.section-title {
    margin: 5.127vw 0 2.928vw;
    font-size: 2.416vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 89.019vw;
    margin: 0 auto;
}

.card-item {
    display: flex;
    width: 21.255vw;
    height: 27.526vw;
    flex-shrink: 0;
    box-shadow: 0px 0px 1.464vw 0px rgba(0, 0, 0, 0.20);
    border-radius: 0.732vw 0.732vw 0px 0px;
    background: #FFF;
    margin-bottom: 2.928vw;
    border-bottom: 1px solid #FEC22E;
    flex-direction: column;
}

.img-card {
    width: 21.255vw;
    height: 16.782vw;
    flex-shrink: 0;
}

.news-text-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.news-item-text {
    display: flex;
    text-align: center;
    margin-top: 2.032vw;
    margin-bottom: 0.732vw;
    font-size: 1.318vw;
    width: 18.59vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.196vw; /* 166.667% */
}

.news-item-date {
    display: flex;
    font-size: 1.171vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.news-bottom {
    margin: 2.928vw 0 4.319vw;
    font-size: 1.464vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    color: #000;
}



.section-orange {
    background: #FEC22E;
    flex-shrink: 0;
}

/*WEEKDAYS*/

.section-photo-title {
    font-size: 2.416vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 4.466vw 0 2.343vw;
}

.wrapper-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.photo-bydni {
    border-radius: 0.732vw;
    width: 30.307vw;
    height: 18.302vw;
    flex-shrink: 0;
    margin: 0 0 1.537vw;
}

.photo-text-bottom {
    font-size: 1.464vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1.684vw 0 6.223vw;
    text-decoration: none;
    color: #BA3133;
}

/*CONTACTS*/

.contact-section {
    display: flex;
    flex-direction: row;
}

.contact-photo {
    display: flex;
    width: 38.141vw;
    height: 48.097vw;
    flex-shrink: 0;
    margin: 6.735vw 4.471vw 7.101vw 4.978vw;
}

.contact-form {
    height: 48.097vw;
    width: 42.246vw;
    margin-right: 5.485vw;
}

.contact-title {
    font-size: 2.416vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contact-description {
    margin-top: 3vw;
    font-size: 1.318vw;
    font-style: normal;
    font-weight: 400;
}

.write-us {
    margin-top: 3.143vw;
    font-size: 1.464vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1.933vw;
}

.name-and-phone {
    border-radius: 0.732vw;
    border: 0.073vw solid #C4C4C4;
    background: #FFF;
    width: 28.497vw;
    height: 2.336vw;
    flex-shrink: 0;
    font-size: 1.318vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1.912vw;
}

.contact-message {
    border-radius: 0.732vw;
    border: 0.073vw solid #C4C4C4;
    background: #FFF;
    width: 28.472vw;
    height: 13.543vw;
    flex-shrink: 0;
    font-size: 1.318vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1.912vw;
}

::placeholder {
    color: #C4C4C4;
    font-size: 1.318vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input {
    padding-left: 0.922vw;
}

.send {
    width: 8.224vw;
    height: 2.343vw;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.318vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 0.732vw;
    background: #FEC22E;
    border: 0;
}

/*EXTRA*/

.extra-title {
    margin-top: 5.783vw;
    color: #BA3133;
    text-align: center;
    font-size: 2.416vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.extra-wrapper {
    display: flex;
    margin: 3.955vw 4.429vw 4.758vw 4.429vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.extra-photo {
    width: 24.963vw;
    height: 15.593vw;
}

.extra-text-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.extra-item-text {
    margin: 1.464vw 0 1.684vw;
    color: #BA3133;
    text-align: center;
    font-size: 1.83vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 25.037vw;
    height: 6.003vw;
}

/*INTERVIEW*/

.interview-title {
    margin: 5.857vw 0 3.367vw;
    color: #000;
    font-size: 2.416vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.interview {
    display: flex;
    width: 88.873vw;
    margin: 0 5.49vw 5.49vw 5.637vw;
    color: #000;
    text-align: center;
    font-size: 2.196vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-direction: column;
    align-items: center;
}

.quests {
    display: flex;
    margin-top: 3.294vw;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #000;
    font-size: 1.83vw;
    font-style: normal;
    font-weight: 400;
}

.question {
    margin-top: 3.042vw;
}

.vote {
    margin-top: 3.587vw;
    width: 18.597vw;
    height: 4.758vw;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.83vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 0.732vw;
    background: #FEC22E;
    border: 0;
}

.archive {
    margin-top: 1.537vw;
    color: #A1A1A1;
    text-align: center;
    font-size: 1.318vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

/*LINKS*/

.links-title {
    margin: 4.978vw 0 4.539vw;
    color: #BA3133;
    text-align: center;
    font-size: 2.416vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.links {
    display: flex;
    height: 19.912vw;
    width: 97.804vw;
    margin-bottom: 8.419vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.link {
    display: flex;
    width: 23.353vw;
    height: 8.785vw;
    flex-shrink: 0;
    border-radius: 0.732vw;
    background: #FFF;
    align-items: center;
    justify-content: space-evenly;
}

.link-photo {
    display: flex;
}

.link_card {
    width: 13.616vw;
}

.card_text1 {
    color: #BA3133;
    text-align: center;
    font-size: 0.805vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card_text2 {
    color: #090970;
    text-align: center;
    font-size: 0.805vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card_text1big {
    color: #BA3133;
    text-align: center;
    font-size: 1.025vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.card_text2big {
    color: #373761;
    text-align: center;
    font-size: 1.098vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

/*FOOTER*/

footer{
    width: 100%;
    height: 11.713vw;
    flex-shrink: 0;
    background: #BA3133;
    margin-top: -0.732vw;
    display: flex;
    align-items: center;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 3.294vw;
}

.text-footer {
    display: flex;
    align-items: center;
    color: #ffffff;
    line-height: 1.432vw;
    font-size: 0.878vw;
}

.text-footer.text-footer_left {
    width: 30.161vw;
    margin-right: 7.613vw;
    line-height: normal;
}